# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.env
.env
venv/
build/
dist/
*.egg-info/

# Docker
*.log

# Helm
*.tgz
raycluster-app/charts/
raycluster-app/*.lock

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db